* {
  text-align: center;
  background-color: burlywood;
}

body {
  font-size: 1.4em;
}

img {
  border-radius: 50%;
  width: 550px;
  height: 350px;
}

.bp-center {
  text-align: center;
}

ul {
  list-style: none
}

ol {
  display: inline-block;
  text-align: left; 
}